@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c7d6fd;
	--sl-color-accent: #3857eb;
	--sl-color-accent-high: #1b2b6a;
	--sl-color-white: #15172e;
	--sl-color-gray-1: #272727;
	--sl-color-gray-2: #383838;
	--sl-color-gray-3: #585858;
	--sl-color-gray-4: #8b8b8b;
	--sl-color-gray-5: #c2c2c2;
	--sl-color-gray-6: #e0e0e0; /* softened from #eeeeee */
	--sl-color-gray-7: #f0f0f0; /* softened from #f6f6f6 */
	--sl-color-black: #f7f7f7; /* softened from #ffffff */
}

/* Dark mode colors. */
:root {
	--sl-color-accent: #f50;
	--sl-color-accent-high: #f50;
}

.social-icons::after {
	display: none;
}
/*
  font-weight: 400;
  font-style: normal;
*/
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  text-underline-offset: 5px;
  .sl-markdown-content a:not(:where(.not-content *)) {
	color: var(--sl-color-white);
}
a:hover {
	text-decoration-color: var(--sl-color-accent);
}
}