---
import { getCollection } from "astro:content"
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro"
import ThreeCardGrid from "@components/ThreeCardGrid.astro"
import { Card } from "@astrojs/starlight/components"

export async function getStaticPaths() {
  const allDocs = await getCollection("docs")
  const uniqueTags = [...new Set(allDocs.map((doc) => doc.data.tags).flat())]

  return uniqueTags.map((tag) => {
    const filteredDocs = allDocs.filter((doc) => doc.data.tags.includes(tag))
    return {
      params: { tag },
      props: { docs: filteredDocs },
    }
  })
}

const { tag } = Astro.params
const { docs } = Astro.props
---

<StarlightPage
  hasSidebar={false}
  frontmatter={{
    title: tag,
    tableOfContents: false,
    pagefind: false,
    category: "reference",
    owner: "ezekiel.nye@forfusion.com",
    createdBy: "ezekiel.nye@forfusion.com",
    createdOn: new Date("2024-11-10"),
    head: [
      {
        tag: "style",
        content: `.doc-card {
            text-decoration: none;
            color: inherit;
          }

          .doc-card:hover {
            text-decoration: none;
            color: inherit;
          }

          /* Ensure card is clickable but maintains intended styling */
          .doc-card .card {
            color: var(--sl-color-white);
            cursor: pointer;
          }`,
      },
    ],
  }}
  ]
>
  <ThreeCardGrid>
    {
      docs
        .sort((a, b) => a.data.title.toLowerCase().localeCompare(b.data.title))
        .map((doc) => (
          <a class="doc-card" href={"/" + doc.slug}>
            <Card title={doc.data.title}>
              <div style="margin-bottom: 0.5rem;">
                Category: {doc.data.category || "N/A"}
              </div>
              <div style="margin-bottom: 0.5rem;">
                Created On:{" "}
                {doc.data.createdOn.toISOString().slice(0, 10) || "N/A"}
              </div>
              <div style="margin-bottom: 0.5rem;">
                Created By: {doc.data.createdBy || "N/A"}
              </div>
            </Card>
          </a>
        ))
    }
  </ThreeCardGrid>
</StarlightPage>
