---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro"
---

<StarlightPage
  frontmatter={{
    title: "README",
    category: "reference",
    owner: "ezekiel.nye@forfusion.com",
    createdBy: "ezekiel.nye@forfusion.com",
    createdOn: new Date("2024-11-10"),
  }}
  ,
  hasSidebar={false}
  ,
  headings={[
    { depth: 2, slug: "documentation-system", text: "Documentation System" },
    { depth: 2, slug: "contributing", text: "Contributing" },
    { depth: 3, slug: "documents", text: "Documents" },
    { depth: 3, slug: "code", text: "Code" },
    { depth: 2, slug: "style-guide", text: "Style Guide" },
    { depth: 3, slug: "filenames", text: "Filenames" },
    { depth: 3, slug: "titles", text: "Titles" },
    { depth: 2, slug: "roadmap", text: "Roadmap" },
  ]}
>
  <p>
    <strong>Why do we need a knowledge base?</strong> The FusionCare team has always
    lacked proper documentation, and as a direct result we have provided a subpar
    service to our customers. No engineer should ever have to hunt for answers to
    basic questions about customer environments during an outage, delaying the time
    to resolution, but this happens to us in every case without exception, because
    we do not have a primary store of knowledge. Bits and pieces of sometimes critical
    information are scattered around IMs, emails, and Sharepoint, but mostly in the
    heads of individual engineers. We have tried to make do with documents produced
    by the Professional Services team, but they were not made with the needs of Managed
    Services in mind, and they are not ours to edit as required.
  </p>
  <p>
    <strong>Why build a site?</strong> The business would not pay for
    <a href="https://www.itglue.com/">IT Glue</a> and our Sharepoint is not suitable
    for use as an MSP knowledge base. We could potentially have made Sharepoint work
    had we administrative access, but good luck getting that. I am not a web developer
    and I'm certainly not doing this for fun (although I am hoping to make it fun
    to use); frankly building this is wasted time that could have been better spent
    if only we had the budget for a proper tool. Yes, I'm bitter.
  </p>
  <h2 id="documentation-system">Documentation System</h2>
  <p>
    Our system is essentially <a href="https://diataxis.fr/">Diataxis</a>,
    modified where appropriate for our needs. In this system there are four
    categories of document. The system is summarised in the table below.
  </p>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Tutorial</th>
        <th>Procedure</th>
        <th>Reference</th>
        <th>Explanation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>What They Do</th>
        <td>Introduce, Educate, Lead</td>
        <td>Guide</td>
        <td>State, Describe, Inform</td>
        <td>Explain, Clarify, Discuss</td>
      </tr>
      <tr>
        <th>Answers The Question</th>
        <td>“Can You Teach Me To…?”</td>
        <td>“How Do I…?”</td>
        <td>“What Is…?”</td>
        <td>“Why…?”</td>
      </tr>
      <tr>
        <th>Oriented Toward</th>
        <td>Learning</td>
        <td>Results</td>
        <td>Information</td>
        <td>Understanding</td>
      </tr>
      <tr>
        <th>Purpose</th>
        <td>To Provide A Learning Experience</td>
        <td>To Help Achieve A Particular Outcome</td>
        <td>To Describe In Detail</td>
        <td>To Illuminate A Topic</td>
      </tr>
      <tr>
        <th>Form</th>
        <td>A Lesson</td>
        <td>A Series Of Steps</td>
        <td>A Dry Description</td>
        <td>A Discursive Explanation</td>
      </tr>
      <tr>
        <th>Analogy</th>
        <td>Teaching A Man To Cook</td>
        <td>A Recipe In A Book</td>
        <td>Information On Food Packaging</td>
        <td>An Article On Culinary Social History</td>
      </tr>
    </tbody>
  </table>
  <h2 id="contributing">Contributing</h2>
  <p>
    A major goal in designing this site was to make it as simple as possible for
    anyone to contribute documentation. Documents are written in an extensible
    plain text markup language related to
    <a href="https://commonmark.org/help/">Markdown</a>
    called <a href="https://markdoc.dev/">Markdoc</a>. This gives us enormous
    flexibility, enabling both the quick and easy creation of documents, and
    when required, the design of documentation of near arbitrary complexity.
  </p>
  <h3 id="documents">Documents</h3>
  <h4 id="sveltiacms">SveltiaCMS</h4>
  <p>
    I have integrated the open source content management system SveltiaCMS into
    the site. It can be used to both create new documents and edit existing
    ones. This is beta software, and as of writing the integration has yet to be
    used in anger, so bugs likely abound; if any are found please contact the
    site admin so they can be fixed and hopefully upstreamed.
  </p>
  <h4 id="onedrive">OneDrive</h4>
  <p>
    A shared folder exists for those who wish to create documents locally. The
    proceess is as follows:
  </p>
  <ol>
    <li>Determine the type of document you are creating</li>
    <li>If desired, read the relevant template guide</li>
    <li>Take a copy of the template and put it in the wip directory</li>
    <li>Edit the template into a completed document</li>
    <li>Move it into the `finished` directory, ready for upload</li>
  </ol>
  <h3 id="code">Code</h3>
  <p>
    In the above mentioned shared folder, a clone of the website repository
    exists. Feel free to clone this repository yourself to develop for the
    website (built with the <a href="https://astro.build/">Astro</a> framework),
    but don't work directly in this directory as it is where the CMS writes to. If
    you wish to merge your changes, contact the site administrator.
  </p>
  <h2 id="style-guide">Style Guide</h2>
  <p>
    So that nobody is discouraged from creating documentation, no style is
    currently enforced. This will likely change in the future. Guidance on the
    correct style can be found below.
  </p>
  <h3 id="filenames">Filenames</h3>
  <p>
    The file name should be some representation of its title. Use all lowercase
    letters, separate words with hyphens and phrases with underscores, and avoid
    symbols and special characters.
  </p>
  <h3 id="titles">Titles</h3>
  <table class="tableblock frame-all grid-all stretch">
    <caption class="title"
      >Table 1. Title guidance for different categories</caption
    >
    <colgroup>
      <col style="width: 15%;" />
      <col style="width: 25%;" />
      <col style="width: 30%;" />
      <col style="width: 30%;" />
    </colgroup>
    <thead>
      <tr>
        <th class="tableblock halign-left valign-top">Category</th>
        <th class="tableblock halign-left valign-top">Must…​</th>
        <th class="tableblock halign-left valign-top">Good example</th>
        <th class="tableblock halign-left valign-top">Bad example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tableblock halign-left valign-top"
          ><p class="tableblock">Explanation</p></td
        >
        <td class="tableblock halign-left valign-top"
          ><div class="content">
            <div class="ulist">
              <ul>
                <li>
                  <p>
                    Start with a noun that names the concept or topic being
                    explained
                  </p>
                </li>
                <li>
                  <p>
                    Never start with an active verb, for example, an action word
                    like configure, install, or start
                  </p>
                </li>
                <li>
                  <p>Finish the implied sentence: "Understanding …​"</p>
                </li>
              </ul>
            </div>
          </div></td
        >
        <td class="tableblock halign-left valign-top"
          ><p class="tableblock">Authentication mechanisms in ISE</p></td
        >
        <td class="tableblock halign-left valign-top"
          ><p class="tableblock">
            Discovering authentication mechanisms in ISE
          </p></td
        >
      </tr>
      <tr>
        <td class="tableblock halign-left valign-top"
          ><p class="tableblock">Procedure</p></td
        >
        <td class="tableblock halign-left valign-top"
          ><div class="content">
            <div class="ulist">
              <ul>
                <li>
                  <p>
                    Start with an active verb in the imperative verb form, for
                    example, "Create a …​" or "Secure a …​"
                  </p>
                </li>
                <li>
                  <p>
                    Be action-oriented or task-oriented, rather than
                    feature-oriented
                  </p>
                </li>
                <li>
                  <p>Finish the implied sentence: "How to …​"</p>
                </li>
              </ul>
            </div>
          </div></td
        >
        <td class="tableblock halign-left valign-top"
          ><p class="tableblock">Secure your network with Cisco TrustSec</p></td
        >
        <td class="tableblock halign-left valign-top"
          ><p class="tableblock">
            Deploying Cisco TrustSec in your network
          </p></td
        >
      </tr>
      <tr>
        <td class="tableblock halign-left valign-top"
          ><p class="tableblock">Reference</p></td
        >
        <td class="tableblock halign-left valign-top"
          ><div class="content">
            <div class="ulist">
              <ul>
                <li>
                  <p>
                    Use a noun phrase to concisely summarize the content of the
                    document
                  </p>
                </li>
                <li>
                  <p>Not include the word 'reference'</p>
                </li>
                <li>
                  <p>Finish the implied sentence: "About …​"</p>
                </li>
              </ul>
            </div>
          </div></td
        >
        <td class="tableblock halign-left valign-top"
          ><p class="tableblock">Value Retail contacts</p></td
        >
        <td class="tableblock halign-left valign-top"
          ><p class="tableblock">Reference for contacts at Value Retail</p></td
        >
      </tr>
      <tr>
        <td class="tableblock halign-left valign-top"
          ><p class="tableblock">Tutorial</p></td
        >
        <td class="tableblock halign-left valign-top"
          ><div class="content">
            <div class="ulist">
              <ul>
                <li>
                  <p>
                    Start with an active verb in the imperative verb form, for
                    example, "Create a …​" or "Secure a …​"
                  </p>
                </li>
                <li>
                  <p>
                    State what task the user will complete, with emphasis on the
                    key topic or demonstrated activity
                  </p>
                </li>
                <li>
                  <p>
                    Be action-oriented or task-oriented, rather than
                    feature-oriented
                  </p>
                </li>
                <li>
                  <p>Be led by the needs of the user in learning mode.</p>
                </li>
                <li>
                  <p>
                    Finish the implied sentence: "In this tutorial, you will …​"
                  </p>
                </li>
              </ul>
            </div>
          </div></td
        >
        <td class="tableblock halign-left valign-top"
          ><p class="tableblock">
            Configure and deploy an IOx app to a Cisco Catalyst switch
          </p></td
        >
        <td class="tableblock halign-left valign-top"
          ><p class="tableblock">Creating an IOx app</p></td
        >
      </tr>
    </tbody>
  </table>
  <h2 id="roadmap">Roadmap</h2>
  <p>Suggestions wanted. In no particular order:</p>
  <ul>
    <li>Authorship percentage calculation</li>
    <li>Export to Forfusion branded PDF</li>
    <li>RSS/Atom feed aggregator (and reader?)</li>
    <li>Bookmark collection of useful but not directly work related links</li>
    <li>Snippet manager</li>
    <li>Configuration backup storage</li>
    <li>SecureCRT session backup storage</li>
    <li>Uptime monitoring/Status page aggregation</li>
  </ul>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</StarlightPage>
